/* 
    Document   : layout.css
    Description: Position & Layout
*/

crudoctrine { display: block; }
html {  }
a, button { cursor: pointer; }
body { padding:10px; }
textarea { resize: none; }

.clear{ clear:both; }

/* CORNERS */
.corners-all{ -webkit-border-radius:4px; -moz-border-radius:4px; }
.corners-top{ -webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; -webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; }
.corners-bottom{ -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; }
.corners-left{ -webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; }
.corners-right{ -webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius-topright:4px; }
.corners-topleft{ -webkit-border-top-left-radius:4px; -moz-border-radius-topleft:4px; }
.corners-topright{ -webkit-border-top-right-radius:4px; -moz-border-radius-topright:4px; }
.corners-bottomleft{ -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomleft:4px; }
.corners-bottomright{ -webkit-border-bottom-right-radius:4px; -moz-border-radius-bottomright:4px; }

/* SHADOWS */
.shadow-light{  -webkit-box-shadow:0px 0px 2px #222; -mox-box-shadow:0px 0px 2px #222; }
.shadow-medium{ -webkit-box-shadow:0px 0px 4px #222; -mox-box-shadow:0px 0px 4px #222; }
.shadow-heavy{ -webkit-box-shadow:0px 0px 6px #222; -mox-box-shadow:0px 0px 6px #222; }

/*  CONTAINER  */
#container { overflow: visible; height:auto; min-width: 900px; }

/*  HEADER */
#header { height: auto; overflow:hidden; width:900px; margin: 0px auto; }
#logo { float:right; height:90px; width:426px; background-image: url('../images/logo_gray_brown.png'); background-repeat: no-repeat; }
#title { position:absolute; }
#userbox { text-align: left; float:left; margin: 0px 10px; width:250px; }
#loginbox { display: inline-block; padding:3px 10px; }
#loginbox.active { -webkit-box-shadow: 0px 0px 5px #000; -moz-box-shadow: 0px 0px 5px #000; box-shadow: 0px 0px 5px #000; background-color: #fff; }
#userbox a {  }
#navbar { margin:5px; text-align: right; float:right; width:100%; }
#navbar .option, #navbar #search { display:inline-block; padding:3px 0px; padding-left:20px; }
#pagetitle {  }

/*  LOGIN DIALOG */
#loginDialog{ position: absolute; z-index: 1; top: 140px; margin-left: -10px; display: none; }
#loginDialog #tab{ position: relative; top: -185px; height: 5px; width: 73px; margin-left: 10px; background-color: #fff; }
#loginDialog #form{ width: 300px; height: 180px; background-color: #fff; }

/*  REGISTER DIALOG */
#registerDialog{ position: absolute; z-index: 1; top: 140px; margin-left: -10px; display: none; }
#registerDialog #tab{ position: relative; top: -435px; height: 5px; width: 92px; margin-left: 80px; background-color: #fff; }
#registerDialog #form{ width: 300px; height: 430px; background-color: #fff; }

/*  CONTENT */
#content { min-height:300px; border-top: 6px solid #696D66; border-bottom: 6px solid #696D66; padding-bottom: 10px; }
#leftmenu{ float: left; width: 100px; padding: 10px; text-align: left; }
#leftmenu ul{ list-style: none; margin: 0px; padding: 0px; }
#leftmenu li{  }
#leftmenu li a{ display: block; width: 100%; padding: 10px 5px; border-bottom: 1px solid #ddd; }
#leftmenu li a:hover{  }
#leftmenu li span{  }

/*  FOOTER  */
#footer { padding:20px; height:auto; }
#footer #CCC, #footer #links { text-align: center; }