/*
  Document   : admin.css
  Description: CSS specific to admin page
*/

/* UI */
.ui-sortable-helper {}

/* MAIN */
#admin { margin: 30px auto; min-height: 300px; width: 1000px; overflow: hidden; }
#pagetitle { margin: 30px 100px; font-size: 20px; font-weight: bold; }
#contentpane { position: relative; display: inline-block; width: 800px; padding: 10px 20px; overflow: hidden; }
#contentpane .ui-icon { float: left; width: 16px; height: 16px; margin-left: -5px; margin-right: 5px; }
#contentpane .button { font-size: 10px; color: #000; background-color: #ddd; padding: 2px 10px; }
#contentpane button:hover, #contentpane a:hover { background-color: #bbb; }
#contentpane .button { cursor: pointer; margin: 0px 2px; float: right; margin-top: -20px; border: none; }
#contentpane .edit{ height: 16px; margin: 5px 5px; float: right; }

/* MODULES */
#modules {}
#modules #list { width: 100%; border-top: 1px solid #ccc; margin: 10px 5px; padding: 10px; min-height: 200px; }
#modules #list .button { margin-bottom: 20px; }
#modules #list .module { margin: 7px 0px; width: 100%; background: #fff; overflow: auto; }
#modules #list .module .title { float: left; height: 50px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#ccc)); border-right: 1px dotted #ccc; }
#modules #list .module .edit { margin: 14px 5px; }
#modules #list .module .title .number{ width: 40px; margin: 5px 2px; margin-left: 10px; padding: 2px; font-size: 24px; display: inline-block; }
#modules #list .module .title .name{ width: 150px; margin: 5px; padding: 5px; font-size: 16px; display: inline-block; }
#modules #list .module .descr{ float: left; width: 350px; height: 27px; margin: 10px; overflow: hidden; font-size: 10px; }
#modules #list .module .drag{ cursor: move; margin: 14px 15px; float: right; }

/* MODULE */
#module #information, #module #sections { border-top: 1px solid #ccc; margin: 10px 5px; padding: 10px; }
#module #information { float: left; width: 150px; min-height: 200px; }
#module #information form button {  }
#module #information #title { position: static; width: 100%; overflow: auto; margin-top: 10px; }
#module #information #title #number { float: left; height: 50px; width: 50px; font-size: 18px; }
#module #information #title #name { float: left; max-width: 145px; font-size: 14px; margin-top: 5px; }
#module #information #title #name #bar { height: 4px; background: #ccc; width: 100%; }
#module #information #description { font-size: 10px; padding: 0px 5px; }
#module #sections { float: right; width: 510px; }
#module #sections .section { margin: 5px 0px; width: 100%; margin-top: 15px; background: #fff; }
#module #sections .section .title{ width: 100px; overflow: hidden; margin: 5px 10px; padding: 2px; font-size: 12px; display: inline-block; }
#module #sections .section .edit{ margin-right: 2px; border: none; }
#module #sections .section .addpage{ margin: 5px 20px; margin-left: 2px; color: #000; float: right; border: none; }
#module #sections .section .remove{ margin: 5px 10px; float: right; border: none; }
#module #sections .section .drag{ cursor: move; margin: 5px 15px; float: right; }
#module #sections .section .colapse { float: none; cursor: pointer; display: inline-block; margin: -2px 0px; }
#module #sections .section .pages{ padding: 2px; }
#module #sections .section .pages .page{ margin-left: 25px; background: #fff; }
#module #sections .section .pages .page .title{ width: 100px; overflow: hidden; margin: 5px 10px; padding: 5px; font-size: 11px; display: inline-block; }
#module #sections .section .pages .page form{ float: right; }
#module #sections .section .pages .page form .edit{ border: none; cursor: pointer; margin: 5px 10px; margin-right: 105px; font-size: 10px; height: 20px; padding: 0px -5px; }

/* EDIT MODULE / EDIT SECTION */
#editmodule, #editsection { padding-top: 20px; }
#editmodule fieldset, #editsection fieldset { border: none; border-top: 1px solid #ccc; }
#editmodule fieldset legend, #editsection fieldset legend { font-size: 16px; padding: 0px 10px; }
#editmodule fieldset div, #editsection fieldset div { overflow: auto; width: 100%; height: auto; margin: 10px 10px; }
#editmodule fieldset label, #editsection fieldset label { font-size: 14px; float: left; width: 150px; height: 100%; vertical-align: middle; }
#editmodule fieldset .required, #editsection fieldset .required { width: 24px; height: 24px; margin: 5px 5px; background-image: url('images/001_30.png'); display: none; }
#editmodule #information input, #editmodule #information textarea, #editsection #information input { height: auto; margin: 10px 10px; font-size: 14px; padding: 0px; width: 400px; float: left; border: 1px solid #ccc; }
#editmodule #information textarea {resize: vertical; min-height: 100px;}
#editmodule #images input { font-size: 14px; padding: 5px; width: 275px; float: left; border: 1px solid #ccc; margin-right: 20px; }
#editmodule #upload{ position: absolute; width: 400px; overflow: hidden; opacity: 0.8; padding-right: 50px; }
#editmodule #images object{ float: left; }

/* REPORTS */
#reports #list { width: 100%; border-top: 1px solid #ccc; margin: 10px 5px; padding: 10px; min-height: 200px; }
#reports #list .report { margin: 7px 0px; width: 100%; background: #fff; overflow: auto; }
/*#reports #list .report .button { margin-bottom: 20px; }*/
#reports #list .report .run { margin: 14px 5px; }
#reports #list .report .title { float: left; height: 50px; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#ccc)); border-right: 1px dotted #ccc; }
#reports #list .report .title .name { width: 150px; margin: 5px; padding: 5px; font-size: 16px; display: inline-block; }
#reports #list .report .title .reporticon { float:left; background-image: url('images/report.png'); height: 32px; width: 32px; margin: 9px 5px; }
#reports #list .report .descr { float: left; width: 350px; height: 27px; margin: 10px; overflow: hidden; font-size: 10px; }

/* USERS */

/* LIST USERS */
/*#users #user_table { width: 800px; table-layout: fixed;}*/
#users #custom_toolbar button { cursor: pointer; margin: 0px 2px; float: right; margin-top: -5px; border: none; text-align: center; }
#formArchiveUsersResponse fieldset { border: none; }

/* ADD USER */
#formAddNewRow{ padding-top: 20px; }
#formAddNewRow fieldset{ border: none; border-top: 1px solid #ccc; }
#formAddNewRow fieldset legend { font-size: 14px; padding: 0px 10px; }
#formAddNewRow fieldset div { margin: 5px 5px 10px; }
#formAddNewRow fieldset label { font-size: 14px; float: left; width: 150px; height: 100%; vertical-align: middle; }
#formAddNewRow #user input { font-size: 12px; padding: 5px; width: 200px; border: 1px solid #ccc; line-height:12px; border:1px solid #ccc; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; outline:none; }
#formAddNewRow #user select { font-size: 12px; padding: 5px; width: 200px; border: 1px solid #ccc; line-height:12px; border:1px solid #ccc; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; outline:none; }
/*#formAddNewRow fieldset .required { width: 24px; height: 24px; margin: 5px 5px; background-image: url('images/001_30.png'); display: none; }*/
#formAddNewRow button { cursor: pointer; margin: 0px 2px; float: right; margin: 2px; border: none; font-size: 12px; }

/* EDIT USER */
#formEditUser{ padding-top: 20px; }
#formEditUser fieldset{ border: none; border-top: 1px solid #ccc; }
#formEditUser fieldset legend { font-size: 14px; padding: 0px 10px; }
#formEditUser fieldset div { margin: 5px 5px 10px; }
#formEditUser fieldset label { font-size: 14px; float: left; width: 150px; height: 100%; vertical-align: middle; }
#formEditUser #user input { font-size: 12px; padding: 5px; width: 200px; border: 1px solid #ccc; line-height:12px; border:1px solid #ccc; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; outline:none; }
#formEditUser #user select { font-size: 12px; padding: 5px; width: 200px; border: 1px solid #ccc; line-height:12px; border:1px solid #ccc; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; outline:none; }
/*#formEditUser fieldset .required { width: 24px; height: 24px; margin: 5px 5px; background-image: url('images/001_30.png'); display: none; }*/
#formEditUser button { cursor: pointer; margin: 0px 2px; float: right; margin: 2px; border: none; font-size: 12px; }