/*
    Document   : reports.css
    Description: CSS specific to the reports pages
*/

/* Disciples Report */
#disciples-report{ margin:10px; }
.disciple{ margin:10px; }
.disciple .ui-icon{ float:left; }
.disciple .name{ font-size:16px; padding:5px 0px; border-bottom:1px solid #bbb; }
.disciple .name span{ margin-left:-20px; margin-top:2px; }
.disciple .name span.ui-icon{ cursor:pointer; }
.disciple .modules{ display: none; padding:5px 0px; }
.disciple .modules.active{ display: block; }
.disciple .modules span.icon{ float:left; margin-left:-30px; width:16px; height:16px; margin-top:5px; }
.module{ margin:10px; }
.module .ui-icon{ float:left; }
.module .name{ font-size:16px; padding:5px 0px; border-bottom:1px solid #bbb; }
.module .name span{ margin-left:-20px; margin-top:2px; }
.module .name span.ui-icon{ cursor:pointer; }
.module .flags{ display: none; padding:5px 25px; }
.module .flags.active{ display: block; }
.module .flags span.icon{ float:left; margin-left:-30px; width:16px; height:16px; margin-top:5px; }
.module .flag .question, .module .note a{ font-weight:bold; padding:5px 0px; margin-bottom:5px; border-bottom:1px solid #ddd; }
.module .flag, .module .note{ margin:10px 15px; }
.module .flag .question, .module .flag .response{ display:block; }
.module .flag span.icon{ background:url('images/flag.png'); }

/* Progress Report */
#progress-report{ margin:12px; }
.team{ margin:10px; }
.team .ui-icon{ float:left; }
.team .name{ font-size:16px; padding:5px 0px; border-bottom:1px solid #bbb; }
.team .name span{ margin-left:-20px; margin-top:2px; }
.team .name span.ui-icon{ cursor:pointer; }
.team .progress{ display: none; padding:5px 0px; }
.team .progress.active{ display: block; }
.team .progress span.icon{ float:left; margin-left:-30px; width:16px; height:16px; margin-top:5px; }
.progress-table{ margin:0; padding:5px 0px 10px 5px; width:100%; font:11px Arial,Helvetica,sans-serif; color:#747474}
.progress-header{ margin:0; width:100%; height:55px;color:#FFF;font-size:13px;background:#0c2c65 url(images/head-bcg.jpg) no-repeat right top;}
.progress-bold{ font:bold 22px Arial,Helvetica,sans-serif;}
.progress-top{ margin:0;padding:0; height:46px; border-top:2px solid #FFF; background:#eff4ff url(images/top-light-blue.png) repeat-x left top;}
.progress-top-cell{ width:55px; text-align:center; float:left; padding:15px 0 0 0; height:31px; border-right:1px solid #ced9ec; color:#1f3d71; font-size:12px;}
.progress-middle{ margin:0;padding:0; background:#f6f6f6 url(images/center-bcg.png) repeat-y right top;}
.progress-left{ float:left;margin:0; padding:10px 0 0 0px; width:115px; text-align:center; height:30px; border-right:1px solid #ced9ec; border-bottom:1px solid #b3c1db; color:#1f3d71; font-size:12px;}
.progress-right{ float:left;margin:0; padding:11px 0 0 0; width:55px; text-align:center;height:29px; border-right:1px solid #ced9ec; border-bottom:1px solid #b3c1db; font-size:12px;}
.progress-bottom{ clear:both;margin:0; padding:0; height:29px; border-top:2px solid #FFF; background:#e4e3e3 url(images/bottom-line.png) repeat-x left top;}
.progress-bottom-cell{ float:left; padding:15px 0 0 0; text-align:center; width:55px; height:29px; border-right:1px solid #ced9ec;color:#070707; font-size:12px;}
.progress-footer{ font-size:10px; color:#8a8a8a; margin:0; padding:8px 0 8px 12px; background:#f6f6f6 url(images/center-bcg.png) repeat-y right top;}